{% extends "bank/base.html" %}

{% block content %}

<p>Транзакции успешно добавленны</p>
<p>Произошедшие изменения:</p>

<table class='table table-striped' , id="trans_ok_table">
        <tr>
            <th>ФИО Пионера</th>
            <th>Изменение</th>
            <th>Сумма</th>
        </tr>

    {% for a in transactions %}
        <tr>
            <td>{{a.recipient.first_name}} {{a.recipient.last_name}}</td>
            <td>{% if a.value > 0 %}+
                {% endif %}
                {{ a.value }}@
            </td>
            <td>{{a.recipient.account.balance}}@</td>
        </tr>

    {% endfor %}


</table>





<br>
<br>
<a href="{% url 'bank:index' %}"> Домой</a>

{% endblock %}