{% extends "bank/base.html" %}

{% block content %}


<form action={% url 'bank:add_activity' %} method="post">

{% csrf_token %}

<h2>Премии и призы</h2>

<h5>Выберите тип мероприятия</h5>

<div class="row">
    <div class="col-sm-12 ">

        <div class="btn-group" data-toggle="buttons">
                <label class="btn ">
                    <input type="radio" name="type" value="sport_activity" autocomplete="off" required> Спортивное мероприятие
                </label>
                <label class="btn ">
                     <input type="radio" name="type" value="evening_activity" autocomplete="off"> Вечернее мероприятие
                </label>
                </div>

</div>
    </div>

<h5>Согласно действующим правилам первые места получат по 20@ вторые по 15@ третьи по 10@ и участники по 5@</h5>


<div class="row">
    {% include table with otr_name='Первый'  user_list=users.1 %}
    {% include table with otr_name='Второй'  user_list=users.2 %}
</div>
<div class="row">
    {% include table with otr_name='Третий'  user_list=users.3 %}
    {% include table with otr_name='Четвертый'  user_list=users.4%}
</div>

<p>Описание (название мероприятия, победители)</p>
<textarea name="description" rows="5" cols="50">
</textarea>
<br>
<input type="submit"  class="btn btn-default"/>

{% endblock%}

