{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}





<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>LFMSH Banking Systems</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'bank:index' %}">LFMSH B.S.</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">

                {% if user.is_authenticated %}
                <li><a href="{% url 'bank:index' %}">Home</a></li>
                <li><a href="{% url 'bank:my_trans' %}">My Trans</a></li>
                {% if user.account.can_add_trans %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Add Trans <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Семинар</a></li>
                        <li><a href="#">Зарядка</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"></a>Другое</li>
                    </ul>
                </li>
                {% endif %}
                {% endif %}
                <li><a href="{% url 'bank:index' %}">About</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if user.is_authenticated %}
                <li><p class="navbar-text">Signed in as {{request.user.account.short_name}}</p></li>
                <li><a href="{% url 'bank:logout' %}?next={% url 'bank:index' %}">Logout</a></li>
                {% else %}
                <li><p class="navbar-text navbar-rigth">Вы не авторизированны в системе</p></li>
                <li><a href="{% url 'bank:index' %}">Login</a></li>
                {% endif %}


            </ul>


        </div>
    </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


<script src="{% static 'bank/js/bootstrap.min.js' %}"></script>


<div class="container-fluid main">

{% block content %}
    {% endblock %}

</div>


</body>
