{% load staticfiles %}


<head>
    <link rel="stylesheet" type="text/css" href="{% static 'bank/style.css' %}"/>

</head>
<body>
<div id="header">

    <table id="head_table">
        <tr>
            <td><h1><a class="head_link" href={% url 'bank:index' %}> LFMSH Banking Systems </a></h1></td>

            {% if request.user.is_authenticated %}
            <td><p class="log_info"> You are logged in as {{request.user.first_name}} {{request.user.last_name}} </p>
            </td>
            {%else%}
            <td><p class="log_info"> You are not logged in </p></td>
            {%endif%}


            <td id="logout_cell"><a class="head_link" href={% url 'bank:logout' %}> Log out </a></td>

        </tr>

    </table>


</div>


<div id="section">

    {% block content %}
    {% endblock %}

</div>
<div id="footer">
    Copyright © lfmsh.ru
</div>
</body>
