{% extends "bank/base.html" %}

{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="col-sm-12 col-sm-offset-0">
        <div class="text-left">
            <h3> Здравствуйте, {{request.user.account.long_name}}</h3>
        </div>
    </div>
</div>


{% if user_group == 'pioner' %}


<div class="row">
    <div class="col-sm-12 col-sm-offset-0">
        <div class="text-left">
            <h3> Ваш баланс  {{request.user.account.get_balance}} @</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 ">
        <div class="text-left">
            <h5> Вы сделали {{request.user.account.lab_passed}} лаб из {{request.user.account.lab_needed}} необходимых</h5>
        </div>
    </div>

     <div class="col-sm-4 ">
        <div class="text-left">
            <h5> Вы получили {{request.user.account.fac_passed}} зачетов по факультативу. Надо минимум {{request.user.account.fac_needed}}</h5>
        </div>
    </div>
    <div class="col-sm-4 ">
        <div class="text-left">
            <h5> Вы прочитали {{request.user.account.sem_read}} семинаров. Надо минимум 1</h5>
        </div>
    </div>

</div>


{%endif%}

<br>

<br>
<a href="{% url 'bank:my_trans' %}"> Посмотреть свои транзакции</a>
<br>

{% if user_group == 'pioner' %}
<br>

{% if user.account.balance > 40 %}
<a href="{% url 'bank:add_p2p' %}"> Подать заявку на личный перевод</a>
{% else %}
<p>Вы не можете отправлять личные переводы пока у вас на счету меньше {{p2p_buf}}@</p>

{%endif%}
{%endif%}




{% if user_group == 'admin' %}
<br>
<a href="{% url 'bank:all_acc' %}"> Посмотреть список пионеров с балансом</a>
<br>
<a href="{% url 'bank:all_acc_ped' %}"> Посмотреть список педсостава</a>
<br>
<a href="{% url 'bank:manage_p2p' %}"> Разобрать пионерские личные транзакции</a> ({{ unm_len }})
<br>
<a href="{% url 'bank:super_table' %}"> Посмотреть супер таблицу</a>
<br>

{%endif%}

{% if user.account.can_add_trans %}
<br>

<p>Добавить транзакции</p>

<a href="{% url 'bank:add_sem' %}"> Семинар </a>
<br>
<a href="{% url 'bank:add_zaryadka' %}"> Зарядка </a>
<br>

<a href="{% url 'bank:add_lab' %}"> Лабораторная работа </a>
<br>



<a href="{% url 'bank:add_fac' %}"> Зачет за факультатив </a>
<br>

<a href="{% url 'bank:add_activity' %}"> Призы за мероприятия </a>
<br>

<a href="{% url 'bank:add_mass_special' %}"> Массовая специальная </a>
<br>
<a href="{% url 'bank:add_special' %}"> Специальная </a>
<br>



{%endif%}




{% endblock %}