{% extends "bank/base.html" %}

{% block content %}


<h2> {{request.user.account.long_name}} </h2>
<br>
{% if user_group == 'pioner' %}
<h3> Your current balance is {{request.user.account.balance}} @</h3>
{%endif%}

<br>

{% if user_group == 'pioner' %}
{% if in_trans %}
<p>And here is last transactions to your account</p>

<table class="trans_table">
    <tr>

        <th>Дата</th>
        <th>Тип</th>
        <th>Сумма</th>
        <th>Автор</th>
        <th>Описание</th>


    </tr>
    {% for t in in_trans %}
    <tr>
        <td>{{t.creation_date}}</td>
        <td>{{t.type}}</td>

        <td>{% if t.value > 0 %}
            +
            {% endif %}
            {{t.value}}@
        </td>
        <td>{{t.creator.account}}</td>
        <td>{{t.description}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No incoming transactions are available.</p>
{% endif %}
{% endif %}

{% if out_trans %}

<p>And here is last transactions you did</p>

<table class="trans_table">
    <tr>

        <th>Дата</th>
        <th>Тип</th>
        <th>Сумма</th>
        <th>Получатель</th>
        <th>Описание</th>


    </tr>
    {% for t in out_trans %}
    <tr>
        <td>{{t.creation_date}}</td>
        <td>{{t.type}}</td>

        <td>{% if t.value > 0 %}
            +
            {% endif %}
            {{t.value}}@
        </td>
        <td>{{t.recipient.account}}</td>
        <td>{{t.description}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No outcoming transactions are available.</p>
{% endif %}

{% endblock %}
