{% extends "bank/base.html" %}

{% block content %}

<p>Your transactions was successfully added!</p>
<p>Changed balance</p>

<table id="trans_ok_table">
        <tr>
            <td>ФИО Пионера</td>
            <td>Поступление</td>
            <td>Сумма</td>
        </tr>

    {% for a in transactions %}
        <tr>
            <td>{{a.recipient.first_name}} {{a.recipient.last_name}}</td>
            <td>{{a.value}}</td>
            <td>{{a.recipient.account.balance}}</td>
        </tr>

    {% endfor %}


</table>





<p>Here is your options</p>
<br>
<a href= "{% url 'bank:all_acc' %}"> Look pioners money</a>
<br>
<a href="{% url 'bank:add_special' %}"> Add another transaction</a>

{% endblock %}