{% extends "bank/base.html" %}

{% block content %}

<p>Your transactions was successfully added!</p>
<p>Changed balance</p>

<table class='trans_table' , id="trans_ok_table">
        <tr>
            <td>ФИО Пионера</td>
            <td>Поступление</td>
            <td>Сумма</td>
        </tr>

    {% for a in transactions %}
        <tr>
            <td>{{a.recipient.first_name}} {{a.recipient.last_name}}</td>
            <td>{% if a.value > 0 %}+
                {% endif %}
                {{ a.value }}@
            </td>
            <td>{{a.recipient.account.balance}}@</td>
        </tr>

    {% endfor %}


</table>





<br>
<a href="{% url 'bank:all_acc' %}"> See list of all pioners</a>
<br>
<a href="{% url 'bank:index' %}"> Home page</a>

{% endblock %}