#header {
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
        }
#nav {
        line-height:30px;
        background-color:#eeeeee;
        height:300px;
        width:100px;
        float:left;
        padding:5px;
        }
#section {
        width:350px;
        float:left;
        padding:10px;
        }
#footer {
        background-color:black;
        color:white;
        clear:both;
        text-align:center;
        padding:5px;
        }
#head_table {
        width:100%

}
#logout_cell{
        text-align:right
        }
a.head_link:link{
        color: white;
        background-color: transparent;
        text-decoration: none;
        }
    a.head_link:visited{
        color: white;
        background-color: transparent;
        text-decoration: none;
        }
    a.head_link:hover{
        color: green;
        background-color: transparent;
        text-decoration: underline;
        }
    p.log_info{
        color:white;
        text-align:right}

.trans_table{

    border: 1px solid black;

}